isodate<=0.6.1
mypy-extensions<=1.0.0
itsdangerous<=2.2.0
jeepney<=0.8.0
gitdb<=4.0.11
fastjsonschema<=2.20.0
exceptiongroup<=1.2.2
oauthlib<=3.2.2
rsa<=4.9
pymysql<=1.1.1
lockfile<=0.12.2
oscrypto<=1.3.0
pandocfilters<=1.5.1
backoff<=2.2.1
importlib-resources<=6.4.5
asttokens<=2.4.1
flatbuffers<=24.3.25
smart-open<=7.0.5
tensorboard<=2.18.0
pathlib2<=2.3.7.post1
opensearch-py<=2.7.1
nose<=1.3.7
notebook-shim<=0.2.4
jupyter<=1.1.1
kubernetes<=31.0.0
deprecation<=2.1.0
joblib<=1.4.2
pandas-gbq<=0.23.2
ppft<=1.7.6.9
qtconsole<=5.6.0
testpath<=0.6.0
argon2-cffi-bindings<=21.2.0
sphinxcontrib-htmlhelp<=2.1.0
graphviz<=0.20.3
jupyter-events<=0.10.0
incremental<=24.7.2
iso8601<=2.1.0
singledispatch<=4.1.0
pytest-timeout<=2.3.1
imbalanced-learn<=0.12.4
apscheduler<=3.10.4
flask-jwt-extended<=4.6.0
jupyterlab-server<=2.27.3
python-levenshtein<=0.26.0
types-python-dateutil<=2.9.0.20241003
hdfs<=2.7.3
jupyter-server-terminals<=0.5.3
pathlib<=1.0.1
google<=3.0.0
uc-micro-py<=1.0.3
triton<=3.0.0
aws-psycopg2<=1.3.8
openapi-spec-validator<=0.7.1
dockerpty<=0.4.1
holidays<=0.58
pyhamcrest<=2.1.0
pytest-django<=4.9.0
fabric<=3.2.2
looker-sdk<=24.16.2
pycairo<=1.27.0
netifaces<=0.11.0
django-storages<=1.14.4
pyspark<=3.5.3
# pyyaml<=6.0.2 # PyYAML-5.4.1: AttributeError: cython_sources
kombu<=5.4.2
isort<=5.13.2
xlsxwriter<=3.2.0
jupyter-server<=2.14.2
ipywidgets<=8.1.5
astroid<=3.3.5
flask-limiter<=3.8.0
msrest<=0.7.1
xlrd<=2.0.1
sqlparse<=0.5.1
transformers<=4.45.2
markdown-it-py<=3.0.0
rich<=13.9.2
py<=1.11.0
tomlkit<=0.13.2
redshift-connector<=2.1.3
altair<=5.4.1
absl-py<=2.1.0
click<=8.1.7
sendgrid<=6.11.0
kafka-python<=2.0.2
jupyterlab-pygments<=0.3.0
astor<=0.8.1
imageio<=2.35.1
docker<=7.1.0
texttable<=1.7.0
structlog<=24.4.0
alabaster<=1.0.0
keras<=3.6.0
aws-sam-translator<=1.91.0
backports-functools-lru-cache<=2.0.0
typeguard<=4.3.0
tensorboard-plugin-wit<=1.8.1
werkzeug<=3.0.4
shap<=0.46.0
raven<=6.10.0
ua-parser<=0.18.0
avro<=1.12.0
# sklearn<=0.0.post12 # PyYAML-5.4.1: AttributeError: cython_sources
ordereddict<=1.1
slack-sdk<=3.33.1
docstring-parser<=0.16
# azure-cosmos<=4.7.0 # PyYAML-5.4.1: AttributeError: cython_sources
flask-babel<=4.0.0
py-cpuinfo<=9.0.0
commonmark<=0.9.1
parse<=1.20.2
pyrfc3339<=1.1
waitress<=3.0.0
ipdb<=0.13.13
google-cloud-bigquery-datatransfer<=3.15.7
mergedeep<=1.3.4
stevedore<=5.3.0
google-cloud-vision<=3.7.4
office365-rest-python-client<=2.5.13
# azure-cosmosdb-table<=1.0.6 # PyYAML-5.4.1: AttributeError: cython_sources
google-re2<=1.1.20240702
# azure-mgmt-policyinsights<=1.0.0 # PyYAML-5.4.1: AttributeError: cython_sources
watchdog<=5.0.3
# azure-mgmt-containerinstance<=10.1.0 # PyYAML-5.4.1: AttributeError: cython_sources
fastparquet<=2024.5.0
# azure-datalake-store<=0.0.53 # PyYAML-5.4.1: AttributeError: cython_sources
pkgutil-resolve-name<=1.3.10
slicer<=0.0.8
# azure-mgmt-marketplaceordering<=1.1.0 # PyYAML-5.4.1: AttributeError: cython_sources
ptyprocess<=0.7.0
discord<=2.3.2
# azure-mgmt-servicefabric<=2.1.0 # PyYAML-5.4.1: AttributeError: cython_sources
websockets<=13.1
gitdb2<=4.0.2
sagemaker<=2.232.2
colorlog<=6.8.2
google-auth-oauthlib<=1.2.1
# azure-mgmt-eventhub<=11.1.0 # PyYAML-5.4.1: AttributeError: cython_sources
apache-airflow<=2.10.2
nbformat<=5.10.4
# azure-mgmt-cdn<=13.1.1 # PyYAML-5.4.1: AttributeError: cython_sources
cattrs<=24.1.2
pandas<=2.2.3
google-auth-httplib2<=0.2.0
requests-toolbelt<=1.0.0
matplotlib-inline<=0.1.7
pydata-google-auth<=1.8.2
ipython-genutils<=0.2.0
widgetsnbextension<=4.0.13
redis<=5.1.1
python-jose<=3.3.0
httplib2<=0.22.0
# pycrypto<=2.6.1 # PyYAML-5.4.1: AttributeError: cython_sources
zeep<=4.2.1
watchtower<=3.3.1
# thrift<=0.21.0 # PyYAML-5.4.1: AttributeError: cython_sources
marshmallow-sqlalchemy<=1.1.0
cachetools<=5.5.0
wtforms<=3.1.2
rfc3986-validator<=0.1.1
pep517<=0.13.1
opt-einsum<=3.4.0
pytest-rerunfailures<=14.0
yarl<=1.13.1
nodeenv<=1.9.1
apispec<=6.6.1
coloredlogs<=15.0.1
comm<=0.2.2
# azure-mgmt-resource<=23.1.1 # PyYAML-5.4.1: AttributeError: cython_sources
requests-mock<=1.12.1
jaraco-functools<=4.1.0
pyhive<=0.7.0
# azure-graphrbac<=0.61.1 # PyYAML-5.4.1: AttributeError: cython_sources
boto3<=1.35.35
# tensorflow-metadata<=1.16.0 # PyYAML-5.4.1: AttributeError: cython_sources
ujson<=5.10.0
twine<=5.1.1
graphene<=3.3
charset-normalizer<=3.3.2
progressbar2<=4.5.0
rfc3339-validator<=0.1.4
pytorch-lightning<=2.4.0
connexion<=3.1.0
scikit-learn<=1.5.2
google-cloud-translate<=3.16.0
debugpy<=1.8.6
cssselect<=1.2.0
mypy-boto3-appflow<=1.35.0
# azure-cli<=2.64.0 # PyYAML-5.4.1: AttributeError: cython_sources
toml<=0.10.2
mistune<=3.0.2
# azure-mgmt-servicebus<=8.2.0 # PyYAML-5.4.1: AttributeError: cython_sources
# azure-batch<=14.2.0 # PyYAML-5.4.1: AttributeError: cython_sources
google-cloud-language<=2.14.0
cachy<=0.3.0
# azure-mgmt-reservations<=2.3.0 # PyYAML-5.4.1: AttributeError: cython_sources
# azure-kusto-ingest<=4.6.1 # PyYAML-5.4.1: AttributeError: cython_sources
idna-ssl<=1.1.0
# tensorflow-addons<=0.23.0 # PyYAML-5.4.1: AttributeError: cython_sources
setuptools-scm<=8.1.0
sentry-sdk<=2.15.0
onnx<=1.17.0
# flask-appbuilder<=4.5.1 # PyYAML-5.4.1: AttributeError: cython_sources
dulwich<=0.22.1
torchvision<=0.19.1
jupyter-core<=5.7.2
frozendict<=2.4.5
tifffile<=2024.9.20
fastapi<=0.115.0
python-editor<=1.0.4
jaraco-classes<=3.4.0
pycparser<=2.22
dill<=0.3.9
cerberus<=1.3.5
tabulate<=0.9.0
cfgv<=3.4.0
requests-aws4auth<=1.3.1
fiona<=1.10.1
twilio<=9.3.3
greenlet<=3.1.1
prompt-toolkit<=3.0.48
uvloop<=0.20.0
send2trash<=1.8.3
# tensorflow-transform<=1.15.0 # PyYAML-5.4.1: AttributeError: cython_sources
graphframes<=0.6
fqdn<=1.5.1
requests-ntlm<=1.3.0
tenacity<=9.0.0
requests-oauthlib<=2.0.0
tensorboard-data-server<=0.7.2
pybind11<=2.13.6
uvicorn<=0.31.0
simple-salesforce<=1.12.6
google-cloud-dlp<=3.23.0
httptools<=0.6.1
brotli<=1.1.0
elasticsearch-dsl<=8.15.4
opencensus<=0.11.4
# azure-mgmt-iotcentral<=9.0.0 # PyYAML-5.4.1: AttributeError: cython_sources
backports-weakref<=1.0.post1
# azure-mgmt-compute<=33.0.0 # PyYAML-5.4.1: AttributeError: cython_sources
cfn-lint<=1.16.0
snowballstemmer<=2.2.0
webcolors<=24.8.0
locket<=1.0.0
rich-argparse<=1.5.2
opentelemetry-exporter-otlp<=1.27.0
python-http-client<=3.3.7
# azure-mgmt-advisor<=9.0.0 # PyYAML-5.4.1: AttributeError: cython_sources
huggingface-hub<=0.25.1
jellyfish<=1.1.0
starlette<=0.39.2
urllib3<=2.2.3
einops<=0.8.0
pip<=24.2
cleo<=2.1.0
pydantic-core<=2.24.0
ansible<=10.4.0
google-cloud-container<=2.51.0
distlib<=0.3.8
kfp-server-api<=2.3.0
# azure-nspkg<=3.0.2 # PyYAML-5.4.1: AttributeError: cython_sources
opencensus-context<=0.1.3
boto3-stubs<=1.35.35
gevent<=24.2.1
lz4<=4.3.3
spacy-legacy<=3.0.12
gitpython<=3.1.43
partd<=1.4.2
pyserial<=3.5
httpx<=0.27.2
cachecontrol<=0.14.0
opentelemetry-sdk<=1.27.0
wandb<=0.18.3
jdcal<=1.4.1
langcodes<=3.4.1
gensim<=4.3.3
# azure-storage-common<=2.1.0 # PyYAML-5.4.1: AttributeError: cython_sources
pyodbc<=5.1.0
prison<=0.2.1
async-lru<=2.0.4
amqp<=5.2.0
toolz<=1.0.0
databricks-cli<=0.18.0
aiobotocore<=2.15.1
pika<=1.3.2
msgpack<=1.1.0
# apache-beam<=2.59.0 # PyYAML-5.4.1: AttributeError: cython_sources
bitarray<=2.9.2
catboost<=1.2.7
poetry-plugin-export<=1.8.0
aiosignal<=1.3.1
# azure-mgmt-core<=1.4.0 # PyYAML-5.4.1: AttributeError: cython_sources
python-docx<=1.1.2
gremlinpython<=3.7.2
tqdm<=4.66.5
msal<=1.31.0
pytest-mock<=3.14.0
contextlib2<=21.6.0
graphql-core<=3.2.4
kazoo<=2.10.0
pycodestyle<=2.12.1
googleapis-common-protos<=1.65.0
celery<=5.4.0
python-json-logger<=2.0.7
google-cloud-firestore<=2.19.0
pypandoc<=1.14
qtpy<=2.4.1
flask-session<=0.8.0
semantic-version<=2.10.0
pyaml<=24.9.0
hyperframe<=6.0.1
responses<=0.25.3
jupyterlab-widgets<=3.0.13
parsedatetime<=2.6
cron-descriptor<=1.4.5
parameterized<=0.9.0
sphinxcontrib-applehelp<=2.0.0
pyee<=12.0.0
pendulum<=3.0.0
google-cloud-tasks<=2.16.5
wheel<=0.44.0
jsonpatch<=1.33
grpcio-tools<=1.66.2
aiohttp<=3.10.9
ijson<=3.3.0
distributed<=2024.9.1
newrelic<=10.0.0
srsly<=2.4.8
watchfiles<=0.24.0
reportlab<=4.2.5
# azure-loganalytics<=0.1.1 # PyYAML-5.4.1: AttributeError: cython_sources
# azure-mgmt-relay<=1.1.0 # PyYAML-5.4.1: AttributeError: cython_sources
pydeequ<=1.4.0
databricks-api<=0.9.0
datetime<=5.5
hypothesis<=6.112.4
pytest-cov<=5.0.0
portalocker<=2.10.1
tldextract<=5.1.2
# azure-mgmt-search<=9.1.0 # PyYAML-5.4.1: AttributeError: cython_sources
# azure-mgmt-trafficmanager<=1.1.0 # PyYAML-5.4.1: AttributeError: cython_sources
ruamel-yaml<=0.18.6
cramjam<=2.8.4
constructs<=10.3.0
zope-interface<=7.0.3
pymssql<=2.3.1
fastavro<=1.9.7
botocore<=1.35.35
cffi<=1.17.1
# azure-storage-blob<=12.23.1 # PyYAML-5.4.1: AttributeError: cython_sources
# azure-data-tables<=12.5.0 # PyYAML-5.4.1: AttributeError: cython_sources
croniter<=3.0.3
sphinxcontrib-serializinghtml<=2.0.0
apache-airflow-providers-snowflake<=5.7.1
flask-sqlalchemy<=3.1.1
kfp<=2.9.0
bcrypt<=4.2.0
django-cors-headers<=4.4.0
# azure-mgmt-storage<=21.2.1 # PyYAML-5.4.1: AttributeError: cython_sources
asgiref<=3.8.1
docopt<=0.6.2
catalogue<=2.0.10
# azure-mgmt-billing<=7.0.0 # PyYAML-5.4.1: AttributeError: cython_sources
google-cloud-bigtable<=2.26.0
diskcache<=5.6.3
astunparse<=1.6.3
entrypoints<=0.4
murmurhash<=1.0.10
sentencepiece<=0.2.0
blinker<=1.8.2
docutils<=0.21.2
mypy<=1.11.2
shapely<=2.0.6
contourpy<=1.3.0
safetensors<=0.4.5
ephem<=4.1.6
sphinx-rtd-theme<=3.0.0
smmap<=5.0.1
sympy<=1.13.3
imdbpy<=2022.7.9
asyncio<=3.4.3
selenium<=4.25.0
pynacl<=1.5.0
types-requests<=2.32.0.20240914
# azure-keyvault-secrets<=4.8.0 # PyYAML-5.4.1: AttributeError: cython_sources
# azure-core<=1.31.0 # PyYAML-5.4.1: AttributeError: cython_sources
google-cloud-logging<=3.11.2
mccabe<=0.7.0
cached-property<=1.5.2
tzlocal<=5.2
nvidia-cudnn-cu11<=9.4.0.58
trio-websocket<=0.11.1
wrapt<=1.16.0
google-cloud-appengine-logging<=1.4.5
dataclasses-json<=0.6.7
arrow<=1.3.0
flask-cors<=5.0.0
statsd<=4.0.1
passlib<=1.7.4
unidecode<=1.3.8
user-agents<=2.2.0
pytest-xdist<=3.6.1
python-daemon<=3.0.1
invoke<=2.2.0
poetry<=1.8.3
pydub<=0.25.1
binaryornot<=0.4.4
google-apitools<=0.5.32
pygithub<=2.4.0
dacite<=1.8.1
annotated-types<=0.7.0
psutil<=6.0.0
numpy<=2.1.2
isoduration<=20.11.0
pipenv<=2024.1.0
mypy-boto3-rds<=1.35.31
preshed<=3.0.9
subprocess32<=3.5.4
emoji<=2.14.0
# azure-keyvault-certificates<=4.8.0 # PyYAML-5.4.1: AttributeError: cython_sources
configargparse<=1.7
service-identity<=24.1.0
google-cloud-audit-log<=0.3.0
# azure-storage-file<=2.1.0 # PyYAML-5.4.1: AttributeError: cython_sources
sqlalchemy-utils<=0.41.2
typedload<=2.35
# azure-mgmt-datalake-store<=0.5.0 # PyYAML-5.4.1: AttributeError: cython_sources
# azure-mgmt-batchai<=2.0.0 # PyYAML-5.4.1: AttributeError: cython_sources
# tfx-bsl<=1.16.0 # PyYAML-5.4.1: AttributeError: cython_sources
pbr<=6.1.0
libclang<=18.1.1
networkx<=3.3
overrides<=7.7.0
aiohappyeyeballs<=2.4.3
termcolor<=2.5.0
langchain<=0.3.2
ipykernel<=6.29.5
pox<=0.3.5
hvac<=2.3.0
tokenizers<=0.20.0
levenshtein<=0.26.0
requests<=2.32.3
pytz<=2024.2
pyrsistent<=0.20.0
google-cloud-kms<=3.0.0
openai<=1.51.1
opentelemetry-api<=1.27.0
opentelemetry-instrumentation<=0.48b0
db-dtypes<=1.3.0
# azure-mgmt-datalake-analytics<=0.6.0 # PyYAML-5.4.1: AttributeError: cython_sources
paramiko<=3.5.0
simplegeneric<=0.8.1
pylint<=3.3.1
google-cloud-bigquery-storage<=2.26.0
omegaconf<=2.3.0
avro-python3<=1.10.2
billiard<=4.2.1
pickleshare<=0.7.5
cymem<=2.0.8
pyathena<=3.9.0
pyjwt<=2.9.0
psycopg2<=2.9.9
google-cloud-pubsub<=2.25.2
crashtest<=0.4.1
pysocks<=1.7.1
ruff<=0.6.9
scikit-image<=0.24.0
grpcio<=1.66.2
cmake<=3.30.4
wasabi<=1.1.3
# azure-mgmt-keyvault<=10.3.1 # PyYAML-5.4.1: AttributeError: cython_sources
hpack<=4.0.0
django-filter<=24.3
prometheus-flask-exporter<=0.23.1
pyasn1-modules<=0.4.1
pure-eval<=0.2.3
funcsigs<=1.0.2
bytecode<=0.15.1
jira<=3.8.0
jsonpickle<=3.3.0
build<=1.2.2.post1
types-awscrt<=0.22.0
websocket-client<=1.8.0
gunicorn<=23.0.0
# tensorflow-serving-api<=2.17.0 # PyYAML-5.4.1: AttributeError: cython_sources
trove-classifiers<=2024.9.12
python-jenkins<=1.8.2
fuzzywuzzy<=0.18.0
ply<=3.11
accelerate<=1.0.0
google-resumable-media<=2.7.2
aioitertools<=0.12.0
shortuuid<=1.0.13
typing<=3.10.0.0
databricks-sdk<=0.34.0
tblib<=3.0.0
geopy<=2.4.1
py4j<=0.10.9.7
jaydebeapi<=1.2.3
pluggy<=1.5.0
pymongo<=4.10.1
statsmodels<=0.14.4
pyproj<=3.7.0
# azure-mgmt-msi<=7.0.0 # PyYAML-5.4.1: AttributeError: cython_sources
# azure-mgmt-web<=7.3.1 # PyYAML-5.4.1: AttributeError: cython_sources
stringcase<=1.2.0
packaging<=24.1
mpmath<=1.3.0
makefun<=1.15.6
munch<=4.0.0
google-cloud-aiplatform<=1.69.0
pyfarmhash<=0.4.0
xmltodict<=0.13.0
# azure-keyvault<=4.2.0 # PyYAML-5.4.1: AttributeError: cython_sources
# tensorflow-hub<=0.16.1 # PyYAML-5.4.1: AttributeError: cython_sources
flask-caching<=2.3.0
langchain-core<=0.3.9
readme-renderer<=44.0
traitlets<=5.14.3
python-multipart<=0.0.12
pymeeus<=0.5.12
yamllint<=1.35.1
markdown<=3.7
voluptuous<=0.15.2
types-pyyaml<=6.0.12.20240917
prettytable<=3.11.0
marshmallow-enum<=1.5.1
oauth2client<=4.1.3
pyzmq<=26.2.0
numba<=0.60.0
click-repl<=0.3.0
# tensorflow-data-validation<=1.16.0 # PyYAML-5.4.1: AttributeError: cython_sources
fortnitepy<=3.6.9
gcsfs<=2024.9.0.post1
clikit<=0.6.2
setuptools<=75.1.0
pyotp<=2.9.0
smmap2<=3.0.1
importlib-metadata<=8.5.0
simplejson<=3.19.3
dataclasses<=0.8
trio<=0.26.2
pyproject-api<=1.8.0
cachelib<=0.13.0
bandit<=1.7.10
google-cloud-bigquery<=3.26.0
notebook<=7.2.2
mysqlclient<=2.2.4
text-unidecode<=1.3
opentelemetry-semantic-conventions<=0.48b0
natsort<=8.4.0
jsonschema-specifications<=2023.12.1
uri-template<=1.3.0
keras-preprocessing<=1.1.2
fsspec<=2024.9.0
pg8000<=1.31.2
configparser<=7.1.0
requests-file<=2.1.0
aiofiles<=24.1.0
# azure-mgmt-devtestlabs<=9.0.0 # PyYAML-5.4.1: AttributeError: cython_sources
# azure-cli-telemetry<=1.1.0 # PyYAML-5.4.1: AttributeError: cython_sources
backports-tempfile<=1.0
botocore-stubs<=1.35.35
virtualenv<=20.26.6
dbt-core<=1.8.7
validators<=0.34.0
pysftp<=0.2.9
dask<=2024.9.1
jsonschema<=4.23.0
# functools32<=3.2.3-2 # PyYAML-5.4.1: AttributeError: cython_sources
cookiecutter<=2.6.0
# azure-mgmt-containerregistry<=10.3.0 # PyYAML-5.4.1: AttributeError: cython_sources
aenum<=3.1.15
h5py<=3.12.1
nvidia-cuda-runtime-cu11<=11.8.89
uritemplate<=4.1.1
terminado<=0.18.1
google-cloud-core<=2.4.1
# tensorflow-estimator<=2.15.0 # PyYAML-5.4.1: AttributeError: cython_sources
scramp<=1.4.5
asynctest<=0.13.0
pyhcl<=0.4.5
openpyxl<=3.1.5
jaraco-context<=6.0.1
python-utils<=3.9.0
terminaltables<=3.1.10
pytest-asyncio<=0.24.0
anyio<=4.6.0
korean-lunar-calendar<=0.3.1
flake8<=7.1.1
stack-data<=0.6.3
# azure-mgmt-sql<=3.0.1 # PyYAML-5.4.1: AttributeError: cython_sources
aniso8601<=9.0.1
# azure-identity<=1.18.0 # PyYAML-5.4.1: AttributeError: cython_sources
marshmallow-oneofschema<=3.1.1
databricks-sql-connector<=3.4.0
h2<=4.1.0
# azureml-core<=1.57.0.post3 # PyYAML-5.4.1: AttributeError: cython_sources
webencodings<=0.5.1
configobj<=5.0.9
pylev<=1.4.0
gspread<=6.1.3
junit-xml<=1.9
pydot<=3.0.2
backports-ssl-match-hostname<=3.7.0.1
spacy-loggers<=1.0.5
aws-requests-auth<=0.4.3
scp<=0.15.0
outcome<=1.3.0.post0
pytest-html<=4.1.1
patsy<=0.5.6
nest-asyncio<=1.6.0
torchmetrics<=1.4.2
execnet<=2.1.1
idna<=3.10
inflect<=7.4.0
colorama<=0.4.6
retrying<=1.3.4
python3-openid<=3.2.0
deprecated<=1.2.14
google-cloud-dataproc<=5.13.0
# azure-keyvault-keys<=4.9.0 # PyYAML-5.4.1: AttributeError: cython_sources
knack<=0.12.0
distro<=1.9.0
pytz-deprecation-shim<=0.1.0.post0
html5lib<=1.1
mock<=5.1.0
faker<=30.3.0
djangorestframework<=3.15.2
keyring<=25.4.1
identify<=2.6.1
ldap3<=2.9.1
matplotlib<=3.9.2
opentelemetry-exporter-otlp-proto-grpc<=1.27.0
deepdiff<=8.0.1
pyparsing<=3.1.4
backcall<=0.2.0
jsonpath-ng<=1.6.1
python-slugify<=8.0.4
promise<=2.3
mlflow<=2.16.2
grpcio-health-checking<=1.66.2
# pywin32<=307 # PyYAML-5.4.1: AttributeError: cython_sources
spark-nlp<=5.5.0
cx-oracle<=8.3.0
pydantic<=2.9.2
sasl<=0.3.1
click-man<=0.4.1
# azure-multiapi-storage<=1.3.0 # PyYAML-5.4.1: AttributeError: cython_sources
# awscli-cwlogs<=1.4.6 # PyYAML-5.4.1: AttributeError: cython_sources
bs4<=0.0.2
constantly<=23.10.4
nvidia-cuda-nvrtc-cu11<=11.8.89
# azure-mgmt-recoveryservices<=3.0.0 # PyYAML-5.4.1: AttributeError: cython_sources
# pathtools<=0.1.2 # PyYAML-5.4.1: AttributeError: cython_sources
cycler<=0.12.1
libcst<=1.4.0
xlwt<=1.3.0
jsonpointer<=3.0.0
repoze-lru<=0.7
argparse<=1.4.0
pytest-forked<=1.6.0
sqlalchemy-jsonfield<=1.0.2
installer<=0.7.0
mdit-py-plugins<=0.4.2
python-dotenv<=1.0.1
pycryptodomex<=3.21.0
enum34<=1.1.10
agate<=1.12.0
cligj<=0.7.2
fire<=0.7.0
more-itertools<=10.5.0
argon2-cffi<=23.1.0
certifi<=2024.8.30
pygments<=2.18.0
email-validator<=2.2.0
pyflakes<=3.2.0
opentelemetry-proto<=1.27.0
opencensus-ext-azure<=1.1.13
pkginfo<=1.11.1
vine<=5.1.0
google-cloud-resource-manager<=1.12.5
ftfy<=6.2.3
# backports-zoneinfo<=0.2.1 # PyYAML-5.4.1: AttributeError: cython_sources
inflection<=0.5.1
onnxruntime<=1.19.2
nbclient<=0.10.0
boltons<=24.0.0
types-protobuf<=5.28.0.20240924
google-ads<=25.0.0
pathspec<=0.12.1
jupyter-console<=6.6.3
attrs<=24.2.0
typer<=0.12.5
pytest-metadata<=3.1.1
apache-airflow-providers-common-sql<=1.17.1
lazy-object-proxy<=1.10.0
yapf<=0.40.2
google-cloud-storage<=2.18.2
black<=24.10.0
setuptools-git<=1.2
# azure-mgmt-cognitiveservices<=13.5.0 # PyYAML-5.4.1: AttributeError: cython_sources
zstandard<=0.23.0
geopandas<=1.0.1
schema<=0.7.7
pexpect<=4.9.0
chardet<=5.2.0
jupyterlab<=4.2.5
elasticsearch<=8.15.1
msrestazure<=0.6.4.post1
# tensorflow-io-gcs-filesystem<=0.37.1 # PyYAML-5.4.1: AttributeError: cython_sources
twisted<=24.7.0
cryptography<=43.0.1
aioconsole<=0.8.0
alembic<=1.13.3
tox<=4.21.2
ipython<=8.28.0
dateparser<=1.2.0
sanic<=24.6.0
# azure-mgmt-datamigration<=10.0.0 # PyYAML-5.4.1: AttributeError: cython_sources
pytest<=8.3.3
pycryptodome<=3.21.0
zope-event<=5.0
pywavelets<=1.7.0
nvidia-cublas-cu11<=11.11.3.6
logbook<=1.7.0.post0
pydocstyle<=6.3.0
h11<=0.14.0
nltk<=3.9.1
# azure-mgmt-datafactory<=9.0.0 # PyYAML-5.4.1: AttributeError: cython_sources
multidict<=6.1.0
pycares<=4.4.0
tinycss2<=1.3.0
pathy<=0.11.0
torch<=2.4.1
great-expectations<=1.1.0
uamqp<=1.6.10
moto<=5.0.16
grpc-google-iam-v1<=0.13.1
hyperlink<=21.0.0
sshtunnel<=0.4.0
dpath<=2.2.0
retry<=0.9.2
multiprocess<=0.70.17
defusedxml<=0.7.1
ordered-set<=4.1.0
threadpoolctl<=3.5.0
mdurl<=0.1.2
# azure-mgmt-cosmosdb<=9.6.0 # PyYAML-5.4.1: AttributeError: cython_sources
# azure-cli-core<=2.64.0 # PyYAML-5.4.1: AttributeError: cython_sources
authlib<=1.3.2
ecdsa<=0.19.0
adal<=1.2.7
secretstorage<=3.3.3
# azure-mgmt-nspkg<=3.0.2 # PyYAML-5.4.1: AttributeError: cython_sources
pycountry<=24.6.1
rfc3986<=2.0.0
et-xmlfile<=1.1.0
factory-boy<=3.3.1
s3transfer<=0.10.2
# azure-mgmt-authorization<=4.0.0 # PyYAML-5.4.1: AttributeError: cython_sources
resolvelib<=1.0.1
loguru<=0.7.2
humanfriendly<=10.0
sqlalchemy-redshift<=0.8.14
# azure-mgmt-media<=10.2.0 # PyYAML-5.4.1: AttributeError: cython_sources
# azure-mgmt-iothub<=3.0.0 # PyYAML-5.4.1: AttributeError: cython_sources
proto-plus<=1.24.0
virtualenv-clone<=0.5.7
slackclient<=2.9.4
nbconvert<=7.16.4
clickclick<=20.10.2
scandir<=1.10.0
confluent-kafka<=2.5.3
maxminddb<=2.6.2
mysql-connector-python<=9.0.0
kfp-pipeline-spec<=0.4.0
ndg-httpsclient<=0.5.1
google-api-python-client<=2.148.0
s3fs<=2024.9.0
click-didyoumean<=0.3.1
geographiclib<=2.0
# azure-mgmt-eventgrid<=10.2.0 # PyYAML-5.4.1: AttributeError: cython_sources
backports-entry-points-selectable<=1.3.0
sphinxcontrib-qthelp<=2.0.0
analytics-python<=1.4.post1
boto<=2.49.0
fasteners<=0.19
# azure-mgmt-hdinsight<=9.0.0 # PyYAML-5.4.1: AttributeError: cython_sources
fonttools<=4.54.1
markupsafe<=3.0.0
# azure-mgmt-rdbms<=10.1.0 # PyYAML-5.4.1: AttributeError: cython_sources
types-setuptools<=75.1.0.20240917
aws-xray-sdk<=2.14.0
dnspython<=2.7.0
# azure-eventgrid<=4.20.0 # PyYAML-5.4.1: AttributeError: cython_sources
platformdirs<=4.3.6
smdebug-rulesconfig<=1.0.1
zope-deprecation<=5.0
shellingham<=1.5.4
configupdater<=3.2
atomicwrites<=1.4.1
protobuf3-to-dict<=0.1.5
typed-ast<=1.5.5
convertdate<=2.4.0
# azure-cosmosdb-nspkg<=2.0.2 # PyYAML-5.4.1: AttributeError: cython_sources
tornado<=6.4.1
seaborn<=0.13.2
# azure-appconfiguration<=1.7.1 # PyYAML-5.4.1: AttributeError: cython_sources
flask<=3.0.3
# azure-mgmt-datalake-nspkg<=3.0.1 # PyYAML-5.4.1: AttributeError: cython_sources
stripe<=11.1.0
docker-compose<=1.29.2
pytzdata<=2020.1
click-plugins<=1.1.1
flask-wtf<=1.2.1
ratelimit<=2.2.1
regex<=2024.9.11
wsproto<=1.2.0
# azure-devops<=7.1.0b4 # PyYAML-5.4.1: AttributeError: cython_sources
querystring-parser<=1.2.4
babel<=2.16.0
monotonic<=1.6
jpype1<=1.5.0
datadog<=0.50.1
thinc<=9.1.1
future<=1.0.0
antlr4-python3-runtime<=4.13.2
google-pasta<=0.2.0
awswrangler<=3.9.1
unicodecsv<=0.14.1
semver<=3.0.2
unittest-xml-reporting<=3.2.0
tb-nightly<=2.19.0a20241007
lxml<=5.3.0
sphinx<=8.0.2
google-crc32c<=1.6.0
# azure-mgmt-containerservice<=32.0.0 # PyYAML-5.4.1: AttributeError: cython_sources
blis<=1.0.1
ninja<=1.11.1.1
ansible-core<=2.17.5
django-extensions<=3.2.3
django<=5.1.1
humanize<=4.11.0
six<=1.16.0
hiredis<=3.0.0
llvmlite<=0.43.0
lightgbm<=4.5.0
ruamel-yaml-clib<=0.2.8
# azure-storage-file-share<=12.18.0 # PyYAML-5.4.1: AttributeError: cython_sources
# azure-storage-file-datalake<=12.17.0 # PyYAML-5.4.1: AttributeError: cython_sources
grpcio-status<=1.66.2
webob<=1.8.8
mashumaro<=3.13.1
numexpr<=2.10.1
google-cloud-secret-manager<=2.20.2
psycopg2-binary<=2.9.9
sphinxcontrib-devhelp<=2.0.0
# azure-mgmt-network<=27.0.0 # PyYAML-5.4.1: AttributeError: cython_sources
javaproperties<=0.8.1
pyspnego<=0.11.1
sacremoses<=0.1.1
editables<=0.5
# azure-storage-queue<=12.12.0 # PyYAML-5.4.1: AttributeError: cython_sources
jupyter-client<=8.6.3
leather<=0.4.0
crcmod<=1.7
pyarrow<=17.0.0
sortedcontainers<=2.4.0
automat<=24.8.1
setproctitle<=1.3.3
xarray<=2024.9.0
autopep8<=2.3.1
cloudpickle<=3.0.0
executing<=2.1.0
feedparser<=6.0.11
python-magic<=0.4.27
linkify-it-py<=2.0.3
# awscli<=1.35.1 # PyYAML-5.4.1: AttributeError: cython_sources
spacy<=3.8.2
cython<=3.0.11
asyncpg<=0.29.0
pip-tools<=7.4.1
pyproject-hooks<=1.2.0
# azure-mgmt-signalr<=1.2.0 # PyYAML-5.4.1: AttributeError: cython_sources
cinemagoer<=2023.5.1
google-cloud-datastore<=2.20.1
# azure-kusto-data<=4.6.1 # PyYAML-5.4.1: AttributeError: cython_sources
sniffio<=1.3.1
docker-pycreds<=0.4.0
async-generator<=1.10
discord-py<=2.4.0
phonenumbers<=8.13.47
plotly<=5.24.1
poetry-core<=1.9.0
google-cloud-spanner<=3.49.1
# azure-mgmt-loganalytics<=12.0.0 # PyYAML-5.4.1: AttributeError: cython_sources
keras-applications<=1.0.8
opencv-python<=4.10.0.84
applicationinsights<=0.11.10
async-timeout<=4.0.3
xgboost<=2.1.1
# azure-mgmt-maps<=2.1.0 # PyYAML-5.4.1: AttributeError: cython_sources
pypdf2<=3.0.1
w3lib<=2.2.1
# jsondiff<=2.2.1 # PyYAML-5.4.1: AttributeError: cython_sources
google-cloud-monitoring<=2.22.2
python-dateutil<=2.9.0.post0
sqlalchemy<=2.0.35
parso<=0.8.4
google-auth<=2.35.0
hatchling<=1.25.0
apache-airflow-providers-http<=4.13.1
wcwidth<=0.2.13
opentelemetry-exporter-otlp-proto-http<=1.27.0
elastic-transport<=8.15.0
pycurl<=7.45.3
langdetect<=1.0.9
referencing<=0.35.1
google-cloud-datacatalog<=3.20.1
decorator<=5.1.1
mako<=1.3.5
starkbank-ecdsa<=2.2.0
json5<=0.9.25
tiktoken<=0.8.0
pyasn1<=0.6.1
# tensorflow<=2.17.0 # PyYAML-5.4.1: AttributeError: cython_sources
netaddr<=1.3.0
# azureml-dataprep<=5.2.0 # PyYAML-5.4.1: AttributeError: cython_sources
# azure-mgmt-managementgroups<=1.0.0 # PyYAML-5.4.1: AttributeError: cython_sources
# tensorflow-model-analysis<=0.46.0 # PyYAML-5.4.1: AttributeError: cython_sources
types-urllib3<=1.26.25.14
google-cloud-videointelligence<=2.13.5
bottle<=0.13.1
ipaddress<=1.0.23
sh<=2.0.7
appdirs<=1.4.4
freezegun<=1.5.1
jedi<=0.19.1
imagesize<=1.4.1
google-cloud<=0.34.0
sphinxcontrib-jsmath<=1.0.1
tableauserverclient<=0.33
# azure-mgmt-iothubprovisioningservices<=1.1.0 # PyYAML-5.4.1: AttributeError: cython_sources
typing-extensions<=4.12.2
snowflake-sqlalchemy<=1.6.1
evergreen-py<=3.10.1
coverage<=7.6.1
# azure-mgmt-batch<=18.0.0 # PyYAML-5.4.1: AttributeError: cython_sources
filelock<=3.16.1
pastel<=0.2.1
kiwisolver<=1.4.7
snowflake-connector-python<=3.12.2
bleach<=6.1.0
protobuf<=5.28.2
pathos<=0.3.3
nbclassic<=1.1.0
datadog-api-client<=2.29.0
prometheus-client<=0.21.0
httpcore<=1.0.6
# azure-servicebus<=7.12.3 # PyYAML-5.4.1: AttributeError: cython_sources
jmespath<=1.0.1
typing-inspect<=0.9.0
jupyter-lsp<=2.2.5
marshmallow<=3.22.0
geoip2<=4.8.0
graphql-relay<=3.2.0
pytest-runner<=6.0.1
python-gitlab<=4.12.2
datasets<=3.0.1
pyperclip<=1.9.0
iniconfig<=2.0.0
delta-spark<=3.2.1
# bokeh<=3.6.0 # PyYAML-5.4.1: AttributeError: cython_sources
tomli<=2.0.2
scipy<=1.14.1
# tensorflow-text<=2.17.0 # PyYAML-5.4.1: AttributeError: cython_sources
futures<=3.4.0
# azure-eventhub<=5.12.2 # PyYAML-5.4.1: AttributeError: cython_sources
argcomplete<=3.5.1
# azure-mgmt-monitor<=6.0.2 # PyYAML-5.4.1: AttributeError: cython_sources
jinja2<=3.1.4
msal-extensions<=1.2.0
google-api-core<=2.20.0
hijri-converter<=2.3.1
xxhash<=3.5.0
opentelemetry-exporter-otlp-proto-common<=1.27.0
youtube-dl<=2021.12.17
# azure-common<=1.1.28 # PyYAML-5.4.1: AttributeError: cython_sources
gsutil<=5.30
zipp<=3.20.2
frozenlist<=1.4.1
# azure-mgmt-redis<=14.4.0 # PyYAML-5.4.1: AttributeError: cython_sources
mmh3<=5.0.1
pytimeparse<=1.1.8
tzdata<=2024.2
# azure-mgmt-applicationinsights<=4.0.0 # PyYAML-5.4.1: AttributeError: cython_sources
asn1crypto<=1.5.1
pillow<=10.4.0
orjson<=3.10.7
# azure-mgmt-recoveryservicesbackup<=9.1.0 # PyYAML-5.4.1: AttributeError: cython_sources
# azure-mgmt-dns<=8.1.0 # PyYAML-5.4.1: AttributeError: cython_sources
rapidfuzz<=3.10.0
pyopenssl<=24.2.1
checkov<=3.2.257
opencv-python-headless<=4.10.0.84
# pre-commit<=4.0.0 # PyYAML-5.4.1: AttributeError: cython_sources
rpds-py<=0.20.0
gast<=0.6.0
soupsieve<=2.6
types-pytz<=2024.2.0.20241003
beautifulsoup4<=4.12.3
# azure-mgmt-consumption<=10.0.0 # PyYAML-5.4.1: AttributeError: cython_sources
mypy-boto3-s3<=1.35.32
ddtrace<=2.14.2
python-gnupg<=0.5.3
flask-login<=0.6.3
