name: CI

on:
  push:
    branches: [ main ]
    paths:
      - requirements.txt
      - .github/workflows/ci.yaml

jobs:
  pip:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          sparse-checkout: |
            requirements.txt
          sparse-checkout-cone-mode: false
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12.7'
          cache: 'pip'
      - name: Install dependencies
        run: cat requirements.txt | xargs -n 1 pip install --timeout=10 || true
      - name: Freeze dependencies
        run: pip freeze > pip-freeze.txt
      - name: Upload freeze
        uses: actions/upload-artifact@v4
        with:
          name: pip-freeze
          path: pip-freeze.txt

  uv:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          sparse-checkout: |
            requirements.txt
          sparse-checkout-cone-mode: false
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12.7'
      - uses: astral-sh/setup-uv@v3
        with:
          enable-cache: true
          cache-dependency-glob: 'requirements.txt'
          version: 'latest'
      - name: Init project
        run: uv init --app
      - name: Install dependencies
        run: cat requirements.txt | xargs -n 1 uv pip install || true
      - name: Freeze dependencies
        run: uv pip freeze > uv-freeze.txt
      - name: Upload freeze
        uses: actions/upload-artifact@v4
        with:
          name: uv-freeze
          path: uv-freeze.txt

  diff:
    runs-on: ubuntu-latest
    needs: [ pip, uv ]
    steps:
      - uses: actions/download-artifact@v4
        with:
          path: artifacts
          merge-multiple: true
      - name: Show diff
        run: diff artifacts/uv-freeze.txt artifacts/pip-freeze.txt