name: CI

on:
  push:
    branches: [ main ]
    paths:
      - requirements.txt
      - .github/workflows/ci.yaml

jobs:
  uv:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          sparse-checkout: |
            requirements.txt
          sparse-checkout-cone-mode: false
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12.7'
      - uses: astral-sh/setup-uv@v3
        with:
          enable-cache: true
          cache-dependency-glob: ""
          version: '0.4.24'
      - name: Freeze dependencies
        run: while read dep; do echo "------ $dep ------" >> uv-lock.txt && tail -n1 uv-lock.txt && uv pip compile <(echo "$dep") --color never --no-header --no-annotate --quiet &>> uv-lock.txt || true; done < requirements.txt
      - name: Upload freeze
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: uv-lock
          path: uv-lock.txt

  pip-compile:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          sparse-checkout: |
            requirements.txt
          sparse-checkout-cone-mode: false
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12.7'
          cache: 'pip'
      - name: Install pip-tools
        run: pip install pip-tools==7.4.1
      - name: Lock dependencies
        run: while read dep; do echo "------ $dep ------" >> pip-compile-lock.txt && tail -n1 pip-compile-lock.txt && pip-compile -r <(echo "$dep") --no-color --no-header --no-annotate --quiet --strip-extras --output-file=- &>> pip-compile-lock.txt || true; done < requirements.txt
      - name: Upload lock
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: pip-compile-lock
          path: pip-compile-lock.txt
